$bg-body: #f4f4f4;
$bg-field: #f8f8f8;
$font-family: 'Montserrat', Arial, Helvetica, sans-serif;
$bg-main: #428a60;
$bg-extra: #35734f;
$color-main: #212121;
$bg-border: #e4e4e4;
$desktop: 1280px;
$mobile: 767.9px;